<div class="banner mb-5">
  <h1>Gardens</h1>
</div>

<div class="container">
  <p style="color: green"><%= notice %></p>
  <div id="gardens">
  <% @gardens.each do |garden| %>
    <%= render garden %>
    <p>
      <%= link_to "Show this garden", garden %>
    </p>
  <% end %>
  </div>

  <%= link_to "New garden", new_garden_path, class: "btn btn-primary" %>
</div>
